.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.nav-bar {
  background-color: black;
  max-height: 32px;
}
.nav-bar-brand {
  color: white;
}
.nav-bar-text {
  color: rgb(130, 130, 130);
}
